@import './group/style.css';
@import './label/style.css';
@import './base/style.css';
@import './error-state/style.css';
@import './disabled-state/style.css';

.description {
  color: #757575;
  line-height: 1.5rem;
}

.input-group[data-required='true'] label::after {
  content: ' *';
  color: var(--error-color);
}

.input-group[data-invalid='true'] .error-message {
  display: block;
}

.input-group input:invalid:not(:focus) {
  border: 2px solid var(--error-color);
}
