.form__button {
  --bg-color: blue;
  background-color: var(--bg-color);
  border: none;
  line-height: 2rem;
  color: #ffffff;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form__button:hover {
  --bg-color: navy;
}

.form__button[aria-disabled='true'] {
  --bg-color: lightblue;
}
