.form__error-summary {
  border: 2px solid var(--error-color);
  padding: 1rem;
  font-weight: bold;
}

.form__error-summary p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form__error-summary ul {
  list-style-type: none;
}

.form__error-summary li {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.form__error-summary a {
  color: var(--error-color);
}
