.form__error-summary {
  border: 2px solid var(--error-color);
  padding: 1rem;
}

.form__error-summary p,
.form__error-summary ul,
.form__error-summary li {
  margin: 0;
  padding: 0;
}

.form__error-summary ul {
  list-style-type: none;
}

.form__error-summary p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form__error-summary li {
  margin-bottom: 0.5rem;
}

.form__error-summary a {
  text-decoration: underline;
  color: var(--error-color);
  font-weight: bold;
}
