.error-message {
  display: none;
  color: var(--error-color);
  line-height: 1.5rem;
  font-weight: bold;
}

.input-group[data-invalid='true'] .error-message {
  display: block;
}

.input-group input:invalid:not(:focus) {
  border: 2px solid var(--error-color);
}
