:root {
  --font-color: #333;
  --error-color: red;
}

* {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color);
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.fieldset__legend {
  --font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.5);
  margin-bottom: 1.5rem;
}

.fieldset__legend::first-letter {
  text-transform: capitalize;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.input-group label {
  --font-size: 1rem;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.5);
}

.description {
  color: #757575;
  --font-size: 1rem;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.5);
}

.input-group input {
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline-offset: 0.25rem;
}

.input-group input:focus {
  border-color: gray;
}

.input-group input:placeholder-shown {
  text-overflow: ellipsis;
}

.input-group input::placeholder {
  color: #757575;
}

.input-group[data-required='true'] label::after {
  content: ' *';
  color: var(--error-color);
}

input[aria-invalid='true']:not(:focus),
.input-group input:invalid:not(:focus) {
  border: 2px solid var(--error-color);
}

.input-group[data-invalid='true'] .error-message {
  display: block;
}

.input-group[disabled] *,
.input-group[disabled] input {
  color: gray;
  user-select: none;
  pointer-events: none;
  border-color: gray;
}
.input-group[disabled] .error-message {
  display: none;
}

.error-message {
  display: none;
  color: var(--error-color);
  --font-size: 1rem;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.5);
  font-weight: bold;
}

.form__error-summary {
  border: 2px solid var(--error-color);
  padding: 1rem;
}

.form__error-summary p,
.form__error-summary ul,
.form__error-summary li {
  margin: 0;
  padding: 0;
}

.form__error-summary ul {
  list-style-type: none;
}

.form__error-summary p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form__error-summary li {
  margin-bottom: 0.5rem;
}

.form__error-summary a {
  text-decoration: underline;
  color: var(--error-color);
  font-weight: bold;
}

button {
  --bg-color: blue;
  --font-size: 1rem;
  background-color: var(--bg-color);
  border: none;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 2);
  color: #ffffff;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  --bg-color: navy;
}

button[aria-disabled='true'] {
  --bg-color: lightblue;
}
